<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet" />

    <title>Illness Detection Home</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/assets/css/fontawesome.css" />
    <link rel="stylesheet" href="../static/assets/css/templatemo-sixteen.css" />
    <link rel="stylesheet" href="../static/assets/css/owl.css" />
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
            <h2>Illness <em>Detection</em></h2>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto" id="navbar_1">

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">

            <h2>GET REGISTERED AND ENJOY OUR MEDICAL SERVICES</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">

            <h2>Get BEST MEDICAL SERVICES</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">

            <h2>KEEP TRACK OF YOUR MEDICAL RECORDS</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <!-- <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest Products</h2>
              <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="assets/images/product_01.jpg" alt="" /></a>
              <div class="down-content">
                <a href="#">
                  <h4>Tittle goes here</h4>
                </a>
                <h6>$25.75</h6>
                <p>
                  Lorem ipsume dolor sit amet, adipisicing elite. Itaque,
                  corporis nulla aspernatur.
                </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (24)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="../static/assets/images/product_02.jpg" alt="" /></a>
              <div class="down-content">
                <a href="#">
                  <h4>Tittle goes here</h4>
                </a>
                <h6>$30.25</h6>
                <p>
                  Lorem ipsume dolor sit amet, adipisicing elite. Itaque,
                  corporis nulla aspernatur.
                </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (21)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="../static/assets/images/product_03.jpg" alt="" /></a>
              <div class="down-content">
                <a href="#">
                  <h4>Tittle goes here</h4>
                </a>
                <h6>$20.45</h6>
                <p>
                  Sixteen Clothing is free CSS template provided by TemplateMo.
                </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (36)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="../static/assets/images/product_04.jpg" alt="" /></a>
              <div class="down-content">
                <a href="#">
                  <h4>Tittle goes here</h4>
                </a>
                <h6>$15.25</h6>
                <p>
                  Lorem ipsume dolor sit amet, adipisicing elite. Itaque,
                  corporis nulla aspernatur.
                </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (48)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="../static/assets/images/product_05.jpg" alt="" /></a>
              <div class="down-content">
                <a href="#">
                  <h4>Tittle goes here</h4>
                </a>
                <h6>$12.50</h6>
                <p>
                  Lorem ipsume dolor sit amet, adipisicing elite. Itaque,
                  corporis nulla aspernatur.
                </p>
                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (16)</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="../static/assets/images/product_06.jpg" alt="" /></a>
              <div class="down-content">
                <a href="#">
                  <h4>Tittle goes here</h4>
                </a>
                <h6>$22.50</h6>

                <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>
                <span>Reviews (32)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Illness Detection</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best products?</h4>
              <p>
                <a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">our healthcare facilities</head></a>
                This healthcare facilities can be used by any one around the globe and people can easily track their records 
                <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a>
                for more info.
              </p>
              <ul class="featured-list">
                <li><a href="#">can be used by people of any age</a></li>
                <li><a href="#">easy to use</a></li>
                <li><a href="#">keep tarck of records</a></li>
                <li><a href="#">get free access</a></li>
                
              </ul>
              <a href="about.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="../static/assets/images/feature-image.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Sixteen</em> Products</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Itaque corporis amet elite author nulla.
                  </p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <footer>
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>
                Copyright &copy; 2020 Sixteen Clothing Co., Ltd. - Design:
                <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a>
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="../static/assets/js/custom.js"></script>
    <script src="../static/assets/js/owl.js"></script>
    <script src="../static/assets/js/slick.js"></script>
    <script src="../static/assets/js/isotope.js"></script>
    <script src="../static/assets/js/accordions.js"></script>

    <script type="text/javascript">
      function authentication() {
        fetch(`${window.origin}/get-userinfo`).then((response) => {
          return response.json()
        }).then((data) => {
          if (data.authenticated) {
            console.log("user is logged in")
            const navbar_0 = document.getElementById('navbar_1');
            navbar_0.innerHTML = `<li class="nav-item">
                <a class="nav-link active" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/prediction">Prediction</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
              `
            //data.name will give you the name of current user
          }
          else {
            console.log("user is not logged in")
            const navbar_0 = document.getElementById('navbar_1');
            navbar_0.innerHTML = `<li class="nav-item">
                <a class="nav-link active" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
                
              </li>`
            //do whatever you want here if no user is logged in.
          }
        })
      };
      window.addEventListener("load", authentication);
    </script>
  </body>

</html>